<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <style type="text/css">
      body {
        font-family: 'Open Sans', sans-serif;
        font-size: 10pt;
        line-height: 1.4;
        background: lightgray;
      }

      body {
        box-sizing: border-box;
      }

      body * {
        box-sizing: inherit;
      }

      @media print {

        @page {
          margin: 0;
        }

      }
    </style>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %> | VUU Studio </title>
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.id %>"></div>
  </body>
</html>
